@charset "utf-8";


html, body {
	height: 100%;
	margin: 0;
}

aside {
	position: fixed;
	top: 70%;
	left: -200px; /*position it off stage*/	
}

aside a {
	display: block;
	width: 270px;
	background-color: rgba(153, 153, 153, 0.7);
	padding: 15px;
	height: 30px;
	border: 1px solid $666;
	border-radius: 10px;
	font: bold 18px Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #333;
	transition: all 0.5s ease; 
}

aside img {
	vertical-align: middle;	
}

aside a:hover {
	transform: translate(200px);
	-webkit-transform: translate(200px);
	-moz-transform: translate(200px);	
}

#home {
	margin: 0;
	padding: 35px;
	background: url(back1.jpg) no-repeat;
	height: 100%;
	background-size: 100% 100%;
}

#about {
	margin: 0;
	padding: 35px;
	background: url(back2.jpg) no-repeat;
	height: 100%;
	background-size: 100% 100%;
}

#contact {
	margin: 0;
	padding: 35px;
	background: url(back3.jpg) no-repeat;
	height: 100%;
	background-size: 100% 100%;
}